@model ContatoModel 

@{
    ViewData["Title"] = "Confirmação apagar Contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato @Model.Nome ?</h3>

</div>

<div class="d-grid col-lg-12">
    <a class="btn btn-info" role="button" asp-controller="Contato" asp-action="Index">Cancelar</a>
    <a class="btn btn-danger" role="button" asp-controller="Contato" asp-route-id="@Model.Id" asp-action="Apagar" >Confirmar exclusão</a>
</div>